*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #EBFCFF;
}

p {
  margin: 0;
}

.container {
  width : 80%;
 margin-left: auto;
 margin-right: auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 32px;
}

.navBar ul {
  display: flex;
  list-style: none;
  /* justify-content: flex-end; */
}

.navBar ul a {
  text-decoration: none;
  margin-left: 30px;
  color: #000;
  font-size: 16px;
}

.navBar ul a:hover {
  color: #FF4133;
  text-decoration: underline;
}

.navBar ul a.active-link {
  text-decoration: underline;
  color: #ff0000
}

.calc-container {
display: flex;
justify-content: space-evenly;
}

.calc-container p {
  font-size: 22px;
}

.calc-grid {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(5rem, auto) repeat(5, 5rem);
}

.calc-grid > button {
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #d4d4d4;
  background-color: #e0e0e0;
  outline: none;
}

.calc-grid > button:hover,
.calc-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.show {
  grid-column: 1/-1;
  background-color: rgb(133, 134, 148);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.show .lower-show {
  color: #fff;
  font-size: 2.5rem;
}

.show .lower-show span {
  margin-right: 5px;
}

button.style-color {
  background-color: #f5913e;
}

.math-home p {
 margin-bottom: 30px;
}

.math-home h2 {
  font-size: 28px;
 }
 

.Quotes {
  display: flex;
  align-self: center;
  margin-top: 100px;
  font-size: 24px;
}
